services:
  wc_server:
    build: .
    command: ["python3", "wordcount_server.py"]
    ports:
      - "8001:8001"

  sent_server:
    build: .
    command: ["python3", "sentence_server.py"]
    ports:
      - "8002:8002"

  max_server:
    build: .
    command: ["python3", "max_server.py"]
    ports:
      - "8003:8003"

  min_server:
    build: .
    command: ["python3", "min_server.py"]
    ports:
      - "8004:8004"

  grpc_client:
    build: .
    command: ["python3", "client.py"]
    depends_on:
      - wc_server
      - sent_server
      - max_server
      - min_server
